@font-face {
    font-family: 'GillSansSemiBoldItalic';
    src: url('gillsans-semibolditalic.eot');
    src: url('gillsans-semibolditalic.eot') format('embedded-opentype'),
         url('gillsans-semibolditalic.woff') format('woff'),
         url('gillsans-semibolditalic.ttf') format('truetype'),
         url('gillsans-semibolditalic.svg#GillSansSemiBoldItalic') format('svg');
}
